@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    -ms-text-size-adjust: 100%;
    font-weight: 300;
    line-height: 1.42;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Inter, Helvetica, "sans-serif";
    font-size:13px;
}
  
html {
    scroll-behavior: smooth;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin:0;
}

body {
    background-repeat: no-repeat;
    background-position: center top;
    background:#0d1117;
}

div {
    box-sizing: border-box;
}

#__next {
    height:100%;
    flex: 1 1;
    -ms-flex: 1 0 0px;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure {
    margin:0;
    padding:0;
}

figure img {
    width: 100%;
    height: auto;
}

img, svg {
    vertical-align: middle;
    -webkit-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -moz-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -ms-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -o-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
}

/*
|--------------------------------------------------------------------------
| Baseline Classes
|--------------------------------------------------------------------------
*/

.text-center {
    text-align:center;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

.image-container {
    position:relative;
}

.image-container > * {
    position: unset !important;
}

.image-container img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

/*
|--------------------------------------------------------------------------
| Lists Global
|--------------------------------------------------------------------------
*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol, ul {
    list-style: none;
    padding: 0;
}


/*
|--------------------------------------------------------------------------
| Links Global
|--------------------------------------------------------------------------
*/

a {
    text-decoration:none;
    color: #006BD4;
}

a {
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
    transition: color 0.1s linear;
    font-weight:400;
    display: block;
}

a, .link {
    color: #06c;
    letter-spacing: inherit;
}

/*
|--------------------------------------------------------------------------
| Containers Global
|--------------------------------------------------------------------------
*/

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding:0 25px;
    width:100%;
}

.container-fluid-large {
    padding-right: 25px;
    padding-left: 25px;
}

@media (min-width: 768px) {
    .container-fluid-large {
        padding-right: 32px;
        padding-left: 32px;
    }
}

@media (min-width: 1200px) {
    .container-fluid-large {
        padding-right: 72px;
        padding-left: 72px;
    }
}


.container-fluid--lg {
    padding:0 100px;
}

.container-master {
    position: relative;
    width: 1905px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 66px;
    padding-right: 66px;
    clear: both;
}

@media (max-width: 1024px) {
    .container-master {
        padding-left: 35px;
        padding-right: 35px;
    }
}

.container-1680 {
    max-width:1680px;
}

.container-1480 {
    max-width:1480px;
}

.container-1280 {
    max-width:1280px;
}

.container-1260 {
    max-width:1260px;
}

.container-1200 {
    max-width:1200px;
}

.container-980 {
    max-width:980px;
}

.container-full {
    padding-right: 72px;
    padding-left: 72px;
}

/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
*/

h1 {
    font-size:36px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

/*
|--------------------------------------------------------------------------
| Colors & Backgrounds
|--------------------------------------------------------------------------
*/

.text-white {
    color:#fff;
}

.text-muted {
    color:#9696a0;
}

.text-gray-800 {
    color:#cdcdde;
}

/*
|--------------------------------------------------------------------------
| States
|--------------------------------------------------------------------------
*/

.relative {
    position:relative;
}

.p-relative {
    position:relative;
}

.p-absolute {
    position:absolute;
}

.p-fixed {
    position:fixed;
}

.p-sticky {
    position:sticky;
}

.d-block {
    display:block;
}

.d-inline-block {
    display:inline-block;
}

/*
|--------------------------------------------------------------------------
| FlexBox
|--------------------------------------------------------------------------
*/

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.flex-root {
    -webkit-box-flex: 1;
    flex: 1;
    -ms-flex: 1 0 0px;
    height:100%;
}

.flex-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.flex-column-fluid {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.flex-row-fluid {
    -webkit-box-flex: 1;
    flex: 1 auto;
    -ms-flex: 1 0 0px;
    min-width: 0;
}

.flex-grow-1 {
    flex-grow: 1!important;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.justify-content-center {
    justify-content:center;
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.align-items-right {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-auto {
    flex: auto!important;
}

.flex-stack {
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 992px) {
    .justify-content-lg-start {
        justify-content: flex-start !important;
    }
}

/*
|--------------------------------------------------------------------------
| Header Component
|--------------------------------------------------------------------------
*/

.header {
    position: relative;
    z-index: 101;
    transition: left ease;
    top:0;
    left:0;
    right:0;
    position:fixed;
    height:100px;
    display:flex;
    backdrop-filter: blur(8px);
    border-bottom:1px solid #30363d;
}

.header #begin .header-logo img {
    margin-right:16px;
    border-radius:12px;
    max-height:80px;
    width:100%;
}

.header .header-logo  {
    font-size: 28px;
    font-weight: 500;
    color:#fff;
    font-family: 'Space Grotesk', sans-serif;
    padding-right:12px;
}

.header .header-logo .logo-text {
    margin-left: 12px;
}

.header .header-logo .logo-glow {
    background:#dd7df778;
    filter: blur(17px);
    z-index:-1;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

@media (max-width: 768px) {
    .header #end {
        display:none !important;
    }
    .header #center {
        display:none !important;
    }
    .header .container {
        align-items:center;
    }
    .header .container #begin {
        flex:1;
    }
    .header .header-logo .logo-image {
        display:none;
    }
    .header .header-logo .logo-text {
        text-align:center;
    }
}

.header #begin .header-logo:hover .logo-text {
    transition: 0.4s ease all;
}

.header .guide-wrapper {
    cursor: pointer;
    overflow: hidden;
    transition: all .3s ease-in-out;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left:25px;
    padding-right:25px;
}

.header .guide-wrapper .guide-text {
    text-transform:uppercase;
    font-size:15px;
    color:#fff;
}

.header .guide-wrapper .guide {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 18px;
    vertical-align: middle;
}

.header .guide-wrapper .guide .bar {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #565674;
    border-radius: 2px;
    overflow: hidden;
}

.header .guide-wrapper .guide .bar:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #a6abab;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    transition: .3s;
}

.header .guide-wrapper:hover .guide .bar:after {
    left:0;
}

.header .guide-wrapper .guide .bar:nth-child(1):after {
    transition-delay: .1s;
}

.header .guide-wrapper .guide .bar:nth-child(2):after {
    transition-delay: .2s;
}

.header .guide-wrapper .guide .bar:nth-child(3):after {
    transition-delay: .3s;
}

.header .guide-wrapper .guide .bar:nth-child(1) {
    top: 0;
}

.header .guide-wrapper .guide .bar:nth-child(2) {
    top: 8px;
}

.header .guide-wrapper .guide .bar:nth-child(3) {
    top: 16px;
}

.header .social {
    font-size: 0;
    display: inline-block;
    margin: 0 auto;
}

.header .social ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: none;
    text-align: center;
}

.header .social ul li {
    display: inline-block;
    position:relative;
}

.header .social ul li .glow {
    z-index:-1;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
.header .social ul li .glow-1 {
    background:#7ee787;
    filter: blur(17px);
}

.header .social ul li .glow-2 {
    background:#ffa28b;
    filter: blur(17px);
}

.header .social ul li .glow-3 {
    background: linear-gradient(#abb4ff, #797ef9, #0d1117);
    filter: blur(17px);
}

.header .social ul li a {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-transform: none;
    letter-spacing: normal;
    text-decoration: none;
    border-radius: 1000px;
    padding: 1.4em 2.8em 1.45em 2.8em;
    margin: 0;
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    box-shadow: 0 16px 64px -18px #910f07;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    border: 3px solid #fff;
    background-color: transparent;
    text-align: center;
    padding: 0;
    width: 44px;
    height: 44px;
    line-height: 40px;
    border-radius: 22px;
    margin: 6px 6px;
    border-color: rgba(243, 243, 240, 0.15);
    transition: 0.1s;
}

.header .social ul li a:hover {
    border-color: #f3f3f0;
}

.header .social ul li a svg {
    fill:#fff;
}

.header-disabled .header {
    display:none !important;
    visibility:hidden;
}

.painting-display {

}

/*
|--------------------------------------------------------------------------
| Subheader Component
|--------------------------------------------------------------------------
*/

.subheader {
    z-index: 100;
    transition: left ease;
    position:initial;
    top:100px;
    left:0;
    right:0;
    height:40px;
    background:#161b22;
    margin-top:25px;
    margin-bottom:25px;
}

.subheader-disabled .subheader {
    display:none !important;
    visibility:hidden;
}

/*
|--------------------------------------------------------------------------
| Footer Component
|--------------------------------------------------------------------------
*/

.footer {
    display: flex;
    position: relative;
    width: 100%;
    color: #ffffff;
    background: #161b22;
    height:60px;
}

.footer-disabled .footer {
    display:none !important;
    visibility:hidden;
}

/*
|--------------------------------------------------------------------------
| Scrollbar Component
|--------------------------------------------------------------------------
*/

body::-webkit-scrollbar {
    width: 0.6em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius:12px;
}

/*
|--------------------------------------------------------------------------
| Modal Component
|--------------------------------------------------------------------------
*/

.image-modal.dialog {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:999;
}

.dialog-exit {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1000;
    cursor: url('/images/modalCloseIcon.cur') 22 22, pointer;
}

.dialog-backdrop {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:998;
    background: #151521;
}

.dialog-panel {
    position:relative;
    z-index:999;
}

.dialog-content {
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
}

.dialog-panel {
    width: 100vw;
    height: 100%;
    max-height: 100%;
    padding: 0 !important;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dialog-panel img {
    flex: 0 0 auto;
    width: auto !important;
    height: auto !important;
    max-width: 94vw !important;
    max-height: 80% !important;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 3vw;
    margin-right: 3vw;
    box-shadow: 0px 60px 140px -20px rgb(0 0 0 / 60%);
    transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1), transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.dialog-close {
    position:absolute;
    top:0;
    right:0;
    width:70px;
    height:70px;
}

.dialog-close .close-btn {
    position:relative;
    z-index:999;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.dialog-close .close-btn:after, .dialog-close .close-btn:before {
    content: "";
    position: absolute;
    top: 33px;
    right: 27px;
    width: 20px;
    height: 3px;
    background: #fff;
    transform: rotate(45deg);
    transition: all .3s ease-in-out;
}

.dialog-close .close-btn:after {
    transform: rotate(-45deg);
}

/*
|--------------------------------------------------------------------------
| Image Portrait Component
|--------------------------------------------------------------------------
*/

.image-portrait {
    display:flex;
    align-items:center;
    justify-content:center;
}

.image-portrait .image-container {
    max-width:600px;
}

/*
|--------------------------------------------------------------------------
| Card Component
|--------------------------------------------------------------------------
*/

.card {
    background:#fff;
}

.card-body {
    
}

.card-image .thumbnail-base {
    position: relative;
    height: 0;
    padding-top: 106%;
    overflow: hidden;
    border-radius: 20px;
}

.card-image .thumbnail-base .thumbnail-placeholder:before {
    content: "";
    display: block;
    padding-top: 106%;
}

.card-image .thumbnail-base .thumbnail-placeholder>* {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.card-image .thumbnail-base .thumbnail-placeholder img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition-duration: .3s;
    transition-timing-function: ease-in-out
}

/*
|--------------------------------------------------------------------------
| Gallery Component
|--------------------------------------------------------------------------
*/

/* .gallery article {
    backface-visibility: hidden;
    float: left;
    width: 33.33333333%;
    line-height: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33.33333333vw;
}

.gallery article a {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.gallery article img {
    display: inline !important;
    transition: transform 0.6s ease, opacity 0.2s ease;
    height: auto !important;
    width: auto !important;
    max-width: 24vw !important;
    max-height: 24vw !important;
    margin: 0 !important;
    box-shadow: 0px 60px 140px -20px rgb(0 0 0 / 60%);
}

.gallery article:nth-child(9n+1) {
    background-color: #2f3137;
}

.gallery article:nth-child(9n+2) {
    background-color: #9299a1;
}

.gallery article:nth-child(9n+3) {
    background-color: #c3c7ce;
}

.gallery article:nth-child(9n+4) {
    background-color: #b2aeab;
}

.gallery article:nth-child(9n+5) {
    background-color: #fbe7ce;
}

.gallery article:nth-child(9n+6) {
    background-color: #cbccc3;
}

.gallery article:nth-child(9n+7) {
    background-color: #202a33;
}

.gallery article:nth-child(9n+8) {
    background-color: #b2aeab;
}

.gallery article:nth-child(9n+9) {
    background-color: #f1f1f1;
} */


/*
|--------------------------------------------------------------------------
| Painting List Renderer Component
|--------------------------------------------------------------------------
*/

.gallery {
    /* padding-bottom:100px;    */
    padding:40px 0;
}

.art-list-renderer ol {
    display: grid;
    grid-gap: 25px;
    /* grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)); */
    grid-template-columns: repeat(4,1fr);
    padding-left:25px;
    padding-right:25px;
}

@media (min-width: 768px) {
    .art-list-renderer ol {
        padding-right: 32px;
        padding-left: 32px;
    }   
}

@media (min-width: 1200px){
    .art-list-renderer ol {
        padding-right: 72px;
        padding-left: 72px;
    }
}

@media (min-width: 1600px) {
    .art-list-renderer ol {
        grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
    }
}

.art-list-renderer ol li {
    position: relative;
    display: block;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}


.art-list-renderer ol li a .thumbnail-base {
    position: relative;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.art-list-renderer ol li a .thumbnail-base .thumbnail-placeholder:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.art-list-renderer ol li a .thumbnail-base .thumbnail-placeholder>* {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.art-list-renderer ol li a .thumbnail-base .thumbnail-placeholder img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition-duration: .3s;
    transition-timing-function: ease-in-out
}

.art-list-renderer ol li a .art-content {
    padding: 10px;
}

.art-list-renderer ol li a .art-title {
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display:flex;
}

.art-list-renderer ol li a .art-title .title-text {
    font-weight: 600;
    font-size: 16px;
    color: rgb(4, 17, 29);
}

.art-list-renderer ol li a:after {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 300;
    z-index: 99;
    width: 100%;
    height: 100%;
    max-width: 100%;
    color: #fff !important;
    margin: 0 !important;
    opacity: 0;
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    background-image: url('/images/add-icon.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: content-box;
    transform: scale(1.5);
    transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1), transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.art-list-renderer ol li a:hover:after {
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.05s cubic-bezier(0.19, 1, 0.22, 1), transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.painting-display {
    min-height:100vh;
    line-height: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.painting-display img {
    flex: 0 0 auto;
    width: auto !important;
    height: auto !important;
    max-width: 40vw !important;
    max-height: 34% !important;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 3vw;
    margin-right: 3vw;
    box-shadow: 0px 60px 140px -20px rgb(0 0 0 / 60%);
    transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1), transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

/*
|--------------------------------------------------------------------------
| Section styling
|--------------------------------------------------------------------------
*/

.section-title {
    padding-bottom:20px;
}

.section-title h1 {
    margin:0;
}

.conclusion {
    padding-top:80px;
    padding-bottom:80px;
}

.conclusion p {
    font-weight:400;
    font-size:16px;
}

/*
|--------------------------------------------------------------------------
| Aside component
|--------------------------------------------------------------------------
*/

.aside {
    position: fixed;
    z-index: 105;
    top: 0;
    width:64px;
    bottom: 0;
    left: 0;
    flex-direction:column;
    background: #161b22;
}

.aside-brand {
    height:60px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.aside-brand .aside-logo {
    position:relative;
}

.aside-brand .aside-text {
    font-size:18px;
    font-weight:500;
}

.aside-brand .aside-glow {
    background:#dd7df7;
    filter: blur(17px);
    z-index:-1;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.aside-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-property: opacity;
    opacity: 1;
    z-index:102;
    background: rgba(0, 0, 0, 0.4);
}

.menu, .menu-wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-column {
    flex-direction: column;
    width: 100%;
}

.menu-item {
    display: block;
}

.menu-item .menu-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    flex: 0 0 100%;
    padding: 0.65rem 1rem;
    transition: none;
    outline: none !important;
}

.menu-item .menu-link .menu-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    margin-right: 0.5rem;
}

.menu-item .menu-link .menu-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.aside .menu .menu-item .menu-link .menu-title {
    color: #9D9DA6;
}

/*
|--------------------------------------------------------------------------
| Painting component
|--------------------------------------------------------------------------
*/

.painting {
    position:relative;
    margin-bottom: 10px;
    width: 100%;
}

@media  (max-width: 324px) {
    .painting-col {
        flex: 0 0 auto;
        width: 100% !important;
    }
}

@media (min-width: 325px) and (max-width: 575.95px) {
    .painting-col {
        flex: 0 0 auto;
        width: 50% !important;
    }
}

.painting-default {
    box-sizing: border-box;
    display: block;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

.painting-default img {
    display: block;
    max-width: 100%;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.painting-image {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.painting-image img {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center center;
    transition-duration: .1s;
    border-radius: 0.75rem;
    aspect-ratio: auto;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -5px; /* gutter size offset */
    margin-right: -5px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left:5px;  /* gutter size */
    padding-right:5px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 10px;
  }

  .painting {
    overflow:hidden;
  }

  .painting:after {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 300;
    z-index: 99;
    width: 100%;
    height: 100%;
    max-width: 100%;
    color: #fff !important;
    margin: 0 !important;
    opacity: 0;
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    background-image: url(/images/add-icon.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1), transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: content-box;
    transform: scale(1.5);
  }

  .painting:hover:after {
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.05s cubic-bezier(0.19, 1, 0.22, 1), transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .painting img {
    width:100%;
  }

/*
|--------------------------------------------------------------------------
| Layout structure -- keep at end of file!
|--------------------------------------------------------------------------
*/

.wrapper {
    transition: padding-left 0.3s ease;
    position:relative;
    flex: 1 1;
    -ms-flex: 1 0 0px;
    min-height: 100%;
}

.header-enabled .wrapper {
    padding-top:100px;
}

.aside-enabled .wrapper {
    padding-left:64px;
}